<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.address %></h2>
<%= link_to 'Add review', new_restaurant_review_path(@restaurant) %>

<ul>
  <% @restaurant.reviews.each do |r| %>
  <li><%= r.content %> <%= r.rating %></li>
  <% end %>
</ul>
